---
import Layout from '../../layout/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.slug },
  }));
}

const { slug } = Astro.params;
const project = await getEntry('projects', slug);

if (!project) {
  throw new Error(`No project found for slug: ${slug}`);
}
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>{project.data.title}</title>
    </head>
    <body>
      <h1>{project.data.title}</h1>
      <time datetime={project.data.date}>{project.data.date}</time>
      <div set:html={project.body} />
    </body>
  </html>
</Layout>